<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Diario_R"></activity>
        <activity android:name=".Info_vs" />
        <activity android:name=".Info_ansiedad" />
        <activity android:name=".Menu_informacion" />
        <activity android:name=".Pantalla_inicio" />
        <activity android:name=".RegistroUsuario" />
        <activity android:name=".PantallaPrincipal" />
        <activity android:name=".Responsabilidad" />
        <activity android:name=".MainActivity">
        <activity android:name=".Son_Piano"></activity>
        <activity android:name=".JuegoRespirar" />
        <activity android:name=".RegistroUsuario" />
        <activity android:name=".Responsabilidad" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PantallaPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>